

html {
    font-size: 12px;
}

section {
    padding-inline-start: 15rem;
    padding-bottom: 1rem;
}

body {
    font-family: Helvetica;
    padding: 1rem;
}

h1 {
    color: firebrick;
    font-size: 30px;
    margin: 0;
}

time {
    font-weight: bold;
    font-size: 13px;
}

p {
    font-size: 15px;
}