img {
    border: 10px solid firebrick;
    border-radius: 50%;
    box-shadow: 0 6px 12px 0 dimgrey;

    height: 70px;
    width: 140px;

    float: left;
    margin-top: 1em;
    margin-left: 1em;
}

@media (max-width: 800px) {
    img{
        height: auto;
        width: 100px;
    }
}

@media (max-height: 800px) {
    img{
        height: auto;
        width: 55%;
    }
}